@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-input-background: var(--sidebar-input-background);
    --color-sidebar-input-border: var(--sidebar-input-border);
    --color-sidebar-navlink-background: var(--sidebar-navlink-background);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-tertiary-background: var(--tertiary-background);
    --color-background-border: var(--background-border);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    /*-----------------------------------------------*/

    /*Breakpoints*/
    --breakpoint-xs: 500px;
    --breakpoint-xxs: 350px;
    
    /* Buttons */
    --color-button-start: #834d9b;
    --color-button-end: #d04ed6;

    --color-btn-gradient-foreground: oklch(0.985 0 0);
}

:root {
    --background: #FFF8F6;
    --secondary-background: #FFF0ED;
    --tertiary-background: #FFFFFF;
    --background-border: #D0C2D01A;
    --foreground: #4D444F;
    --card: #FFF8F6;
    --card-foreground: #221A18;
    --popover: #FFF8F6;
    --popover-foreground: #4D444F;
    --primary: #81449C;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: #FFF8F6;
    --muted-foreground: oklch(0.556 0 0);
    --accent: #FDE7F5;
    --accent-foreground:#221A18;;
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar-input-background: #FBEAE7;
    --sidebar-input-border: #D0C2D04D;
    --sidebar-navlink-background: #834D9B1A;
}

.dark {
    --background: #160f17;
    --secondary-background: #1D141F;
    --tertiary-background: #1D141F;
    --background-border: #D0C2D01A;
    --foreground: #D0C2D0;
    --card: #1D141F;
    --card-foreground: oklch(0.985 0 0);
    --popover: #1D141F;
    --popover-foreground: #D0C2D0;
    --primary: #EAB2FF;
    --primary-foreground:#38263D;
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: #1D141F;
    --muted-foreground: oklch(0.708 0 0);
    --accent: #2B202F;
    --accent-foreground: #FFF8F6;
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar-input-backgroung: #382E2C66;
    --sidebar-input-border: #D0C2D033;
    --sidebar-navlink-background: #834D9B;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

@utility test{
    @apply border border-red-500;
}

@utility container{
    @apply mx-auto px-5 h-full max-w-full xs:px-7 sm:px-10 lg:max-w-372;
}

@utility row{
    @apply flex flex-row items-center gap-2;
}

@utility stack{
    @apply flex flex-col items-center gap-2;
}

@utility center{
    @apply flex items-center justify-center;
}

@utility circle{
    @apply rounded-full;
}

@utility sidebar-link{
    @apply capitalize row gap-4 px-4 py-3 rounded-[12px] hover:text-primary dark:hover:text-white hover:bg-sidebar-navlink-background;
}

@utility nav-link{
    @apply capitalize hover:text-primary font-medium text-sm tracking-[0.14px]
    hover:underline hover:decoration-2 hover:underline-offset-8 transition-all duration-200 ease-in-out;
}

@utility footer-link{
    @apply text-xs xs:text-sm font-medium capitalize hover:text-primary transition-all duration-200 ease-in-out;
}